:root {
    /*colors*/

    /*primary*/
    --main-dark-blue: hsl(243, 87%, 12%);
    --main-desaturated-blue: hsl(238, 22%, 44%);

    --btn-bright-blue: hsl(224, 93%, 58%);

    /*on hover*/
    --accent-bright-blue: hsl(221, 100%, 71%);
    --accent-moderate-cyan: hsl(170, 45%, 43%);

    /*error message color*/
    --err-clr: hsla(343, 84%, 61%, 1);


    /*neutral*/

    --ntrl-light-grayish-blue: hsl(240, 75%, 98%);
    --ntrl-light-gray: hsl(0, 0%, 75%);

    /*Typography*/

    /*headings, cta, head-nav*/

    /*font-family*/
    --ff: 'Raleway', sans-serif;

    /*font-weight*/
    --font-weight-400: 400;
    --font-weight-700: 700;


    /*body*/
    --ff-body:'Open Sans', sans-serif;

    /*font-wight*/
    --font-body-weight: 400;
}

/*reset browser settings*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

img, svg{
    max-width: 100%;
    display: block;
}

nav a{
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    font-weight: var(--font-weight-400);
}

li{
    list-style: none;
}

/*------*/

body{
    max-width: 1440px;
    margin: 0 auto;
}

.container{
    width: calc(100% - 160px);
    margin: 0 auto;
}

header{
    margin-top: 4.06rem;
    font-family: var(--ff);
    color: var(--main-dark-blue);
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: block;
}

nav{
    margin-left: 2rem; /*temporarily*/
}

.nav{
    display: flex;
    column-gap: 3.56rem;
}

.nav a:hover{
    color: var(--main-desaturated-blue);
}


@media only screen and (max-width: 500px){
    body{
        width: 375px;
    }

    .container{
        width: calc(100% - 48px);
        margin: 0 auto;
    }

    header {
        margin-top: 1.5rem;
    }

    .logo{
        width: 80px;
        height: 24px;
    }

    .nav {
        column-gap: .75rem;
    }

    .nav a{
        font-size: .75rem;
    }
}

/*main section*/

/*hero*/

#hero{
    margin-top: 5.38rem;
    font-family: var(--ff);
}

@media only screen and (max-width: 500px){
    #hero{
        margin-top: 6.125rem;
    }
}

.hero-content{
    display: flex;
    column-gap: .81rem;
}

@media only screen and (max-width: 1239px){
    .hero-content{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
}

.message{
    width: 49%;
    margin-top: 4.75rem;
}

@media only screen and (max-width: 500px) {
    .hero-content{
        max-width: 320px;
    }

    .message{
        width: 100%;
    }
}

h1{
    line-height: 1.5;
}
.heading{
    color: var(--main-dark-blue);
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
}

@media only screen and (max-width: 500px) {
    .heading{
        width: 100%;
        font-size: 1.5rem;
    }
}

p{
    font-weight: var(--font-weight-400);
    line-height: 1.5rem;
    font-family: var(--ff-body);
} /*here i didnt apply media query as they are the same in mobile and desktop*/

.par{
    margin-top: 0.94rem;
    padding-right: 2.63rem;
    font-size: 1.06rem;
    letter-spacing: 0.53125px;
}

@media only screen and (max-width: 500px){
    .par{
        width: 97.4%;
        margin: 0 auto;
        padding-right: 0;
        font-size: .875rem;
        margin-top: 1.5rem;
    }
}

form{
    margin-top: 1.56rem;
}

@media only screen and (max-width: 500px){
    form{
        margin-top: 2rem;
    }
}

input[type = email]{
    width: 320px;
    height: 45px;
    border: 1px solid var(--main-dark-blue);
    border-radius: 3.13px;
    padding-left: 1.31rem;
    margin-right: 1rem;
}

input[type = button]{
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 3.13px;
    background-color: var(--btn-bright-blue);
    color: #FFF;
    font-weight: var(--font-weight-700);
    font-family: inherit;
}

input[type=button]:hover{
    background-color: var(--accent-bright-blue);
    cursor: pointer;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
}

@media only screen and (max-width: 500px) {
    input[type=email] {
        margin-right: 0;
    }

    input[type=button] {
        width: 320px;
        margin-top: 1rem;
    }
}

.image{
    width: 50%;
}

@media only screen and (max-width: 500px) {
    .image{
        width: 100%;
    }
}

/*color change when valid and invalid email entered*/
 input[type=email]:invalid{
    border-color: var(--err-clr);
 }

 input[type=email]:valid {
     border-color: green;
 }